body{
  font-family: 'Libre Baskerville', serif;
}

p{
  color: #AFAEB6;
}

.logo{
  padding-top: 30px;
  background-color: #272320;
  color: #B17030;
}

ul {
    list-style-type: none;
    margin-left: 450px;
    margin-right: 450px;
    overflow: hidden;
    background-color: #272320;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: flex;
    justify-content: space-evenly;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 40px 16px;
    text-decoration: none;
  }

  .nav{
    display: flex;
    gap: 20px;
    padding-left:50px;
    padding-right: 200px;
    padding-top: 40px;
    float: right;
    color: rgb(255, 255, 255);
    }

.p-one{
    display: flex;
    justify-content: center;
}

.one{
    text-align: center;
    margin-top: 100px;
}

.hech{
    font-size: 50px;
}

.img{
    display: flex;
    justify-content: center;
    margin: auto;
}

.img1{
    display: flex;
    justify-content: center;
}

.p-two{
    text-align: center;
    margin-top: 80px;
}

.p-three{
    text-align: center;
}

.img2{
    display: flex;
    justify-content: center;
}

.lea{
    margin-right: 100px;
    display: grid;
}

button{
    width: 150px;
    background-color: #B17030;
    color: #ffffff;
    border: none;
    margin-bottom: 30px;
    padding: 12px;
  }
  
  .img3{
    margin-top: 50px;
    display: flex;
    justify-content: center;
  }

  .bed{
    display: grid;
  }

  .bedd{
    padding-right: 20px;
  }


  .img4{
    margin-top: 50px;
    display: flex;
    justify-content: center;
  }

  .mod{
    display: grid;
    margin-left: 200px;
    margin-right: 100px;
  }

  .chair{
    margin-right: 150px;
  }

  .container{
    background-color: #D5C2B1;
    margin-top: 100px;
    margin-left: 300px;
    margin-right: 300px;
  }

  .test{
    text-align: center;
    padding-top: 80px;
  }

  .testi{
   display: flex;
   justify-content: center;
   padding-bottom: 100px;

  }

  .gun{
    background-color: rgb(224, 221, 221);
  padding: 50px 50px;
  }

  .gun1{
    background-color: rgb(224, 221, 221);
    padding: 30px 30px;
  }

  .gun2{
    background-color: rgb(224, 221, 221);
    padding: 50px 50px;
  }

  .blog{
    text-align: center;
    margin-top: 100px;
  }

  .tips{
    display: grid;
  }

  .main{
    margin-top: 70px;
    display: flex;
    justify-content: center;
  }

  .footer{
    display: flex;
    justify-content: space-evenly;
    padding-top: 70px;
    background-color: #272320;
    color: #ffffff;
  }

  .container1{
    margin-top: 70px;
    margin-left: 300px;
    margin-right: 300px;
  }

  .text-container {
    position: absolute;
    color: rgb(255, 255, 255);
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 0.5rem;
    text-align: center;
    font-size: 16px;
}

input{
  width: 250px;
  background-color: #ffffff;
  margin-bottom: 10px;
  padding: 12px;
}

.star{
  display: flex;
  justify-content: space-evenly;
}

@media screen and (max-width: 600px){
  .logo{
    background-color: #272320;
    color: #B17030;
  }
  
  ul {
    display: grid;
    position: absolute;
    grid-template-columns: auto;
    background-color: #272320;
    }
    
   
    li a {
      color: rgb(255, 255, 255);
    }
  
    .nav{
      display: grid;
      color: rgb(255, 255, 255);
      }


  .p-one{
      display: flex;
      justify-content: center;
  }
  
  .one{
      text-align: center;
      margin-top: 100px;
  }
  
  .hech{
      font-size: 50px;
  }
  
  .img{
      margin: auto;
      width: 50%;
  }
  
  .img1{
      display: grid;
      justify-content: center;
  }

  .lea{
   width: 50%;
  }

  .img2{
    width: 50%;
    display: grid;
    padding-left: 150px;
  }

.coach{
  height: 200px;
}

  button{
      width: 150px;
      background-color: #B17030;
      color: #ffffff;
      border: none;
      margin-bottom: 30px;
      padding: 12px;
    }
  
    .img3{
      margin-top: 50px;
      width: 50%;
      display: grid;
      padding-left: 150px;
    }
  
    .bed{

      width: 50%;
    }

    .mod{
      width: 50%;
      display: grid;
    }

    .bedd{
      width: 50%;
    }
  
    .img4{
      margin-top: 100px;
      width: 50%;
      display: grid;
      margin-left: 10px;
    }
  
    .container{
      background-color: #D5C2B1;
      margin-top: 100px;
      margin-left: 200px;
    }

    .testi{
     display: grid;
    }
  
    .gun{
      background-color: rgb(224, 221, 221);
    }
  
    .gun1{
      background-color: rgb(224, 221, 221);
    }
  
    .gun2{
      background-color: rgb(224, 221, 221);
    }
  
    .blog{
      text-align: center;
      display: grid;
    }
  
    .tips{
      display: grid;
      grid-template-columns: auto;
    }

    .container1{
      display: grid;
      grid-template-columns: auto;
      margin-left: 40px;
    }
  
    .footer{
      display: grid;
      grid-template-columns: auto;
      background-color: #272320;
      color: #ffffff;
    }
  
  
    .text-container {
      color: rgb(255, 255, 255);
      text-align: center;
      font-size: 16px;
  }
  
  input{
    background-color: #ffffff;
    margin-bottom: 10px;
    padding: 12px;
  }
  
  .star{
    display: flex;
    justify-content: space-evenly;
  }
}